.container{
    background-color: rgb(185, 131, 235);
}
a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.card-body{
    padding: 20px;
    margin: 40px;
    background-color: #a07be4;
    border-radius: 0 0 60px 0;

}
.row{
    margin: 40px;
    padding: 10px;
}

.card{
    border-radius: 0 60px 0 60px;
    
}
.footer{
  height: 50px;

}
h3{
    text-align: center;
}
